.nav{
    background-color: #0e3a94;
    &__up{
        margin-top: -10px;
    }
    &__img{
        width: 190px;
        height: 120px;
    }
    &__buttons{
        list-style: none;
        font-size: 14px;
        font-weight: bold;
        @media(max-width: 1175px){
            font-size: 12px;
        }
        @media(max-width: 1055px){
            font-size: 11px;
        }
        margin: 0; 
        padding: 0 10px;
        display: flex;
        a {
            text-decoration: none;
            display: block;
            padding: 50px 30px 65px 30px;
            margin-right: 1px;
            
            li{
                text-decoration: none;
                color: $white;
            }
          }
          a:hover {
            background-color: $white;
            
            li{
                color: lightcoral;
            }
          }
    }
    &__active{
        background-color: $white;
        li{
            color: brown!important;
        }
      }
}
.hamburger__img {
    display: none;
}

@media (max-width:$device-medium-max) {
    .nav{
        &__img {
            width: 12em;
            height: 5em;
            padding: 15px 0 15px 30px;
        }
        &__buttons{
            display: none;
        }

        &__icons {
            display: none;
        }
    }
    .hamburger__img {
        display: block;
    }
}

@media (max-width:425px) {
    .nav{
        &__img {
            width: 9em;
            height: 4em;
        }
    }
}

.hamburger{
    &__img{
        width: 3em;
        height: 3em;
        position: absolute;
        top: 0;
        right: 125px;
        padding: 1.5em 1em 2.6em 1em;
    }
    &__user{
        right: 30px!important;
    }
    &__img:hover{
        background-color: lightblue;
        color: white;
    }
    &__menu{
        padding: 0!important;
        position: absolute;
        top:110px;
        width: 100%;
        background-color: #5b7a93;
        a{
            text-decoration: none;
            div{
                padding-left: 20px;
                text-decoration: none;
                color: $white;
            }
            display: block;   
            padding: 10px;
        }
        a:hover{
            background-color: $white;
            div{
                color: lightcoral;
            }
            
        }
        &__active{
            background-color: $white;
            div {
                color: brown!important;
            }
          }
    }
    @media (max-width:425px) {
        &__img{
            padding: 1.6em 1em 1.5em 1em;
        }
        &__menu{
            top:80px;
        }
    }
}

.logout{
    color: white;
    position: absolute;
    right: -80px;
    top: 40px;
    background: red;
    padding: 10px;
    border-radius: 5px;

    @media (max-width:1024px) {
        top: -75px;
        right: 40px
    }

    @media (max-width:425px) {
        top: -50px;
    }

}

.language{
    text-align: left;
    @media(max-width: 1024px){
        padding-top: 10px;
    }
    select{
        background: $black;
        color: $white;
        padding: 10px 40px 10px 40px;
    }
}