/**
  * Variables
  *
  * @description
  * Contains Sass variables
  *
  * @version
  * 3.0.0
**/

/**
 * Table of Contents:
 *
 * 1.0 Colors
 * 2.0 Responsivness and sizes
 * 3.0 Typography
 * 4.0 Other
 * -----------------------------------------------------------------------------
 */


/**
 * 1.0 Colors
 * -----------------------------------------------------------------------------
 */
 $black:							#000;
 $white:							#fff;
 $grey:					            #eeeeee;
 $grey-button:                      #bfbfbf;
 $grey-lighter:                     #b3b3b3;
 $grey-dark:					    #49414149;
 $pink:                             #ed677a;
 $pink-lighter:                     #ea7f8e;
 $blue:                             #006f9e;
 $blue-lighter:                     #0094d1;
 $red:                              #e10606;
 $gold:                             #DAB055;
 $grey-opacity-90:				    rgba(102, 102, 102, 0.9);
 $main-font:                        'Noto Sans', sans-serif;
 $darkblue:                           rgba(40, 75, 99, 0.8);
 $fadedwhite:                       rgba(255,255,255,.7);
 $accentcolor:                      #58a4b0;
 $fbcolor:                          #3A5A98;
 $twcolor:                          #55ACEE;
 
 
 /**
  * 2.0 Responsivness and sizes
  * -----------------------------------------------------------------------------
  */
 
 // Large (desktop)
 $device-large-max:				1038px;
 $device-large-min:				1025px;
 
 // Medium (tablet)
 $device-medium-max:				1024px;
 $device-medium-min:				768px;
 
 // Small (phone)
 $device-small-max:				767px;
 $device-small-min:				0px;
 $device-xs: 					460px;
 $site-width: 					1175px;
 
 
 
 /**
  * 3.0 Typography
  * -----------------------------------------------------------------------------
  */
 
 // Font family
 $font-family-base:				'Segoe UI';
 $font-family-alt:				"Poppins-Bold", sans-serif;
 
 // Breakpoints
 $typography-breakpoints: (
     small: $device-small-min,
     medium: $device-medium-min,
     large: $device-large-min
 );
 
 // Base font-size
 $font-size-base:				62.5%; // 10px
 $font-size-standard:			2rem; // 20px, this is the font-size every element will get that has no font-size specified in the css.
 
 
 // Base typography
 $line-height-standard:			2.6rem;
 $line-height-standard-pixel:	26px;
 
 // Header font-sizes
 // Example: small: (font-size, line-height, margin-bottom, padding-top) (We use padding-top beacues if we used margins they would collapse into each other.)
 $h1-sizes: (
     small: (2rem, 3.2rem, 2rem, 2rem),
     medium: (2.4rem, 3.2rem, 2.4rem)
 );
 $h2-sizes: (
     small: (2rem, 2.8rem, 1rem, 1.2rem),
     medium: (2.1rem, 2.8rem, 1rem, 1.2rem)
 );
 $h3-sizes: (
     small: (1.7rem, 2.5rem, 1rem, 0.5rem),
     medium: (1.7rem, 2.5rem, 1rem, 0.5rem)
 );
 $h4-sizes: (
     small: (3rem, 4.5rem, 1.2rem),
     medium: (3.2rem, 4.8rem, 1.6rem)
 );
 $h5-sizes: (
     small: (2.4rem, 4rem, 1.2rem),
     medium: (2.4rem, 4rem, 1.6rem)
 );
 $h6-sizes: (
     small: (1.6rem, 3.2rem, 1.2rem),
     medium: (1.6rem, 3.2rem, 1.6rem)
 );
 
 // Paragraph font-sizes
 $p-sizes: (
     null: (1.5rem, 2.8rem, 2rem)
 );
 
 $blockquote-sizes: (
     small: (1.6rem, 2.7rem, 2.8rem),
     medium: (1.8rem, 2.9rem, 3.1rem)
 );
 
 $preamble-sizes: (
     small: (1.6rem, 2.7rem, 0.3rem),
     medium: (1.8rem, 2.9rem, 0.4rem)
 );
 
 
 
 /**
  * 4.0 Other
  * -----------------------------------------------------------------------------
  */
 
 $margin-standard:				2rem; // 20px
 $transition-time: 				0.4s;
 $transition-time-short:			0.2s;
 $border-radius:	 				0.4rem;
 